@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
.pollScene {
  background: #0693e3ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 0;
  }

  .brandName {
    font-size: 5rem;
    font-family: "Oswald", sans-serif;
    color: #fff;
    position: absolute;
    top: calc(5vh + 200px);
  }

  .pollResults {
    padding: 20px;
    display: flex;
    width: 80%;
    height: 400px;
    // margin-top: 10vh;
    background: rgba(6, 147, 227, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.resultsWrapper {
  position: relative;
  width: 100%;
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .pollName {
    color: #000;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  .logged {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }

  .roomImg {
    width: 30px;
    margin-right: 10px;
  }

  .userImg {
    width: 30px;
  }
}

.usersWrapper {
  position: absolute;
  bottom: 50px;
  //   min-height: 100px;
  padding: 10px;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userCard {
  background: #ffffff;
  height: 70px;
  width: 50px;
  margin: 0 20px;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.votedImg {
  width: 30px;
}

.seriesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.entryCard {
  background: #ffffff;
  height: 70px;
  min-width: 50px;
  margin: 10px 20px;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;

  &:hover {
    font-weight: bold;
  }
}

.selectedPoll {
  background: #002bdc88;
  color: #fff;
  font-weight: bold;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.headerRow {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: calc(80% + 40px);
}

@media only screen and (max-width: 900px) {
  .entryCard {
    min-width: 40px;
    margin: 5px 10px;
    height: 60px;
  }
  .userCard {
    width: 40px;
    height: 60px;
  }
}
