.App {
  text-align: center;
  max-height: 100vh;
  height: 100vh;
}

/* .popup-content {
  margin: auto;
  background: transparent;
  width: 50%;
  padding: 0px !important;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
} */
